
.table {
    margin-top: 20px;
}

.btn {
    margin-top: 5px;
}

hr {
    border-color: #999;
}

// .btn {
//     margin-top: 30px ; //!important;
// }

// .btn:link,
// .btn:visited {
//     background-color: white !important;
//     color: black  !important;
//     border: 2px solid green;
//     padding: 10px 20px;
//     text-align: center;
//     text-decoration: none;
//     display: inline-block;
//     margin-left: 450px ;//!important;
//     margin-bottom: 40px;// !important;
// }
// .btn:hover,
// .btn:active {
//     background-color: green !important;
//     color: white !important;
// }

// .btn {
//     margin-top: 5px;
// }

// .btn:link,
// .btn:visited {
//     background-color: white !important;
//     color: black  !important;
//     border: 2px solid green;
//     padding: 10px 20px;
//     text-align: center;
//     text-decoration: none;
//     display: inline-block;
//     margin-left: 30px;
//     margin-bottom: 40px;
// }
// .btn:hover,
// .btn:active {
//     background-color: green !important;
//     color: white !important;
// }