<div class="container">
    <div class="col mt-4 justify-content-center list">
<!--          {{$ctrl.user}}-->
        <table class="table">
        <thead>
            <h4>Dados do Usuário</h4>
          <tr>
            <th scope="col" >Nome</th>
            <th scope="col" >Telefone</th>
            <th scope="col" ng-if="$ctrl.user.cpf">CPF</th>
            <th scope="col" ng-if="$ctrl.user.rg">RG</th>      
            <th scope="col" ng-if="$ctrl.user.cnpj">CNPJ</th>
            <th scope="col" ng-if="$ctrl.user.companyName">Razão Social</th>
          </tr>
          <tbody >
            <td>{{ $ctrl.user.name  | uppercase}}</td>
            <td>{{ $ctrl.user.phoneNumber }}</td>
            <td ng-if="$ctrl.user.cpf">{{ $ctrl.user.cpf }}</td>
            <td ng-if="$ctrl.user.rg">{{ $ctrl.user.rg }}</td>
            <td ng-if="$ctrl.user.cnpj">{{ $ctrl.user.cnpj }}</td>
            <td ng-if="$ctrl.user.companyName">{{ $ctrl.user.companyName  | uppercase}}</td>
        </tbody>

         <tr><th >Endereço</th></tr>
          <tr>
            <th scope="col" >Rua</th>
            <th scope="col" >Número</th>
            <th scope="col" >CEP</th>
            <th scope="col" >UF</th>
          </tr>
          <tbody >
      <!-- #TODO como usar filters?-->
            <td>{{ $ctrl.user.address.street  | uppercase}}</td>
            <td>{{ $ctrl.user.address.number }}</td>
            <td>{{ $ctrl.user.address.cep }}</td>
            <td>{{ $ctrl.user.address.uf }}</td>
        </tbody>
        <tr>
            <th scope="col" >Bairro</th>
            <th scope="col" >Cidade</th>
          </tr>
          <tbody >
      <!-- #TODO como usar filters?-->
            <td>{{ $ctrl.user.address.neighborhood  | uppercase}}</td>
            <td>{{ $ctrl.user.address.city  | uppercase}}</td>
        </tbody>

        </thead>
      </table>
      <hr>
    </div>
    <div style="text-align: center; margin-top: 30px ;">
      <a class="btn" ui-sref="app.account.form({personId: $ctrl.user.id , type: 'ca'})" >Criar Conta Corrente</a>
      <a class="btn" ui-sref="app.account.form({personId: $ctrl.user.id , type: 'sa'})" >Criar Conta Poupança</a>
      <a class="btn" ui-sref="app.user.list" >Voltar </a>
    </div>

</div>