<!--<div class="container">-->
<!--  <div class="col mt-4 justify-content-center list">-->

<!--    <h3 style="margin-left: 50px">Lista de contas</h3>-->
<!--&lt;!&ndash;    {{  $ctrl.accounts }}&ndash;&gt;-->
<!--    <table class="table">-->
<!--      <thead>-->
<!--        <tr>-->
<!--          <th scope="col">#</th>-->
<!--          &lt;!&ndash; <th scope="col">ID</th> &ndash;&gt;-->
<!--          <th scope="col">Conta</th>-->
<!--          <th scope="col">Agência</th>-->
<!--          <th scope="col">Tipo</th>-->
<!--&lt;!&ndash;          <th scope="col">Saldo</th>&ndash;&gt;-->
<!--        </tr>-->
<!--      </thead>-->
<!--      <tbody >-->
<!--        &lt;!&ndash; {{$ctrl.users}} &ndash;&gt;-->
<!--        <tr ng-repeat="account in $ctrl.accounts">-->
<!--          <th scope="row">{{ $index+1 }}</th>-->
<!--          &lt;!&ndash; <td>{{ user.id }}</td> &ndash;&gt;          -->
<!--          &lt;!&ndash; #TODO como usar filters?&ndash;&gt;-->
<!--          <td><a ui-sref="app.accountDetails({id: account.id })">{{ account.accountCode}}</a></td>-->
<!--          <td>{{ account.branch}}</td>-->
<!--          <td ng-if="account.accountType == 'CHECKING_ACCOUNT'">Conta Corrente</td>-->
<!--          <td ng-if="account.accountType == 'SAVINGS_ACCOUNT'">Conta Poupança</td>-->
<!--&lt;!&ndash;          <td>{{ account.balance}}</td>&ndash;&gt;-->
<!--        </tr>-->
<!--      </tbody>-->
<!--    </table>-->
<!--    <hr>-->
<!--    &lt;!&ndash; <div style="text-align: center; margin-top: 30px ;"> -->
<!--      <a class="btn btn-primary" ui-sref="app.accountRegister({type: 'ca'})" >Criar Conta Corrente</a>-->
<!--      <a class="btn btn-primary" ui-sref="app.accountRegister({type: 'sa'})" >Criar Conta Poupança</a>    -->
<!--    </div> &ndash;&gt;-->
<!--  </div>  -->

<!--</div>-->