<div class="container">
  <div class="col mt-4 justify-content-center list">

    <h3 style="margin-left: 50px">Lista de contas</h3>
<!--    {{  $ctrl.accounts }}-->
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <!-- <th scope="col">ID</th> -->
          <th scope="col">Conta</th>
          <th scope="col">Agência</th>
          <th scope="col">Tipo</th>
<!--          <th scope="col">Saldo</th>-->
        </tr>
      </thead>
      <tbody >
        <!-- {{$ctrl.users}} -->
        <tr ng-repeat="account in $ctrl.accounts">
          <th scope="row">{{ $index+1 }}</th>
          <!-- <td>{{ user.id }}</td> -->          
          <!-- #TODO como usar filters?-->
          <td><a ui-sref="app.accountDetails({id: account.id })">{{ account.accountCode}}</a></td>
          <td>{{ account.branch}}</td>
          <td ng-if="account.accountType == 'CHECKING_ACCOUNT'">Conta Corrente</td>
          <td ng-if="account.accountType == 'SAVINGS_ACCOUNT'">Conta Poupança</td>
<!--          <td>{{ account.balance}}</td>-->
        </tr>
      </tbody>
    </table>
    <hr>
    <!-- <div style="text-align: center; margin-top: 30px ;"> 
      <a class="btn btn-primary" ui-sref="app.accountRegister({type: 'ca'})" >Criar Conta Corrente</a>
      <a class="btn btn-primary" ui-sref="app.accountRegister({type: 'sa'})" >Criar Conta Poupança</a>    
    </div> -->
  </div>  

</div>