.ui-alert{
    background-color: #F2DEDE;
    padding: 5px;
    border-radius: 5px;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ui-alert-title{
    color: #af4341;
    font-weight: bold;
    font-size: 22px;
}

.ui-alert-message{
    color:  #af4341;
    font-size: 16px;
}