.carousel-item {
  img {
    object-fit: cover;
    min-height: 18em;
  }
}

.cards {
  .col-4 {
    padding: 0;
    padding-left: 0.2em;
    padding-right: 0.2em;
  }

  .card {
    img {
      object-fit: cover;
      min-height: 5em;
    }
  }
}

.btn {
  margin-top: 5px;
}

.btn:link,
.btn:visited {
  background-color: white !important;
  color: black  !important;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 25px;
}
.btn:hover,
.btn:active {
  background-color: green !important;
  color: white !important;
}