<div class="jumbotron">

    <h3>{{app}}</h3>

    <div style="text-align: left;">
        <h>Geral</h4>
    </div>
    <table class="table">
        <tr>
            <!-- <th>ID</th> -->
            <th>Nome</th>
            <th>Telefone</th>
            <th ng-if="usuario.companyName">Razão Social</th>
            <th ng-if="usuario.cnpj">CNPJ</th>
            <th ng-if="usuario.cpf">CPF</th>
            <th ng-if="usuario.rg">RG</th>
        </tr>
        <tr>
            <!-- <td>{{usuario.id}}</td> -->
            <td>{{usuario.name | name}}</td>
            <td>{{usuario.phoneNumber}}</td>
            <td ng-if="usuario.companyName">{{usuario.companyName}}</td>
            <td ng-if="usuario.cnpj">{{usuario.cnpj}}</td>
            <td ng-if="usuario.cpf">{{usuario.cpf}}</td>
            <td ng-if="usuario.rg">{{usuario.rg}}</td>
        </tr>
    </table>
    <hr>
    <div style="text-align: left;">
        <h>Endereço</h4>
    </div>
    <table class="table">
        <tr>
            <th>Rua</th>
            <th>Número</th>
            <th>Cidade</th>
        </tr>
        <tr>
            <td>{{usuario.address.street | name}}</td>
            <td>{{usuario.address.number}}</td>
            <td>{{usuario.address.city | name}}</td>
        </tr>
        <tr></tr>
        <tr>
            <th>Bairro</th>
            <th>CEP</th>
            <th>UF</th>
        </tr>
        <tr>
            <td>{{usuario.address.neighborhood | name}}</td>
            <td>{{usuario.address.cep}}</td>
            <td>{{usuario.address.uf}}</td>
        </tr>
    </table>
    <a class="btn" href="#/usuarios">Voltar </a>
    <!-- <a class="btn" href="#/contas-usuario/{{usuario.id}}">Contas</a> -->

</div>