<div class="jumbotron">
    <h3>{{app}}</h3>

    <form name="usuarioForm" left-block>
        <h4>Geral</h4>
        <input class="form-control" type="text" ng-model="usuario.name" name="name" placeholder="Nome"
            ng-required="true" ng-minlength="7" />
        <input class="form-control" type="text" ng-model="usuario.phoneNumber" name="phoneNumber" placeholder="Telefone"
            ng-required="true" mask="(99) 9?9999-9999" ng-model="phone2" />

        <input class="form-control" type="text" ng-model="usuario.cpf" name="cpf" placeholder="CPF" ng-required="true"
            ng-if="isPfRoute()" />
        <input class="form-control" type="text" ng-model="usuario.rg" name="rg" placeholder="RG" ng-if="isPfRoute()" />

        <input class="form-control" type="text" ng-model="usuario.cnpj" name="cnpj" placeholder="CNPJ"
            ng-required="true" ng-if="isPjRoute()" />
        <input class="form-control" type="text" ng-model="usuario.companyName" name="companyName" placeholder="Razão Social" 
            ng-if="isPjRoute()" />

        <hr>

        <h4>Endereço</h4>
        <input class="form-control" type="text" ng-model="usuario.street" name="street" placeholder="Rua"
            ng-required="true" />
        <input class="form-control" type="text" ng-model="usuario.number" name="number" placeholder="Número"
            ng-required="true" />
        <input class="form-control" type="text" ng-model="usuario.neighborhood" name="neighborhood" placeholder="Bairro"
            ng-required="true" />
        <input class="form-control" type="text" ng-model="usuario.city" name="city" placeholder="Cidade"
            ng-required="true" />
        <input class="form-control" type="text" ng-model="usuario.cep" name="cep" placeholder="CEP"
            ng-required="true" />

        <select class="form-control" ng-model="usuario.uf" name="estados-brasil">
            <option value="">Selecione um estado</option>
            <option value="AC">Acre</option>
            <option value="AL">Alagoas</option>
            <option value="AP">Amapá</option>
            <option value="AM">Amazonas</option>
            <option value="BA">Bahia</option>
            <option value="CE">Ceará</option>
            <option value="DF">Distrito Federal</option>
            <option value="ES">Espírito Santo</option>
            <option value="GO">Goiás</option>
            <option value="MA">Maranhão</option>
            <option value="MT">Mato Grosso</option>
            <option value="MS">Mato Grosso do Sul</option>
            <option value="MG">Minas Gerais</option>
            <option value="PA">Pará</option>
            <option value="PB">Paraíba</option>
            <option value="PR">Paraná</option>
            <option value="PE">Pernambuco</option>
            <option value="PI">Piauí</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="RN">Rio Grande do Norte</option>
            <option value="RS">Rio Grande do Sul</option>
            <option value="RO">Rondônia</option>
            <option value="RR">Roraima</option>
            <option value="SC">Santa Catarina</option>
            <option value="SP">São Paulo</option>
            <option value="SE">Sergipe</option>
            <option value="TO">Tocantins</option>
        </select>


    </form>

    <button class="btn btn-primary" ng-click="adicionarUsuario(usuario)" ng-disabled="usuarioForm.$invalid">
        Adicionar usuário
    </button>


</div>