<div class="jumbotron">
    <!-- <a class="btn btn-dark" style="text-align: left"href="#/home"> Home </a> -->
    <h3>{{app}}</h3>
    <!-- <h5>{{usuarios}}</h5> -->

    <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando?" />

    <table ng-show="usuarios.length > 0" class="table">
        <tr>
            <th></th>
            <th><a href="" ng-click="ordenarPor('id')">ID</a></th>
            <th><a href="" ng-click="ordenarPor('name')">Nome</a></th>
            <th><a href="" ng-click="ordenarPor('phoneNumber')">Telefone</a></th>
            <th></th>
        </tr>
      <!-- #TODO: filter for PJ & PF -->
        <tr ng-class="{'selecionado negrito': usuario.selecionado}"
            ng-repeat="usuario in usuarios  | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao ">
            <td><input type="checkbox" ng-model="usuario.selecionado" /></td>
            <td>{{usuario.id}}</td>
            <td>
                <a href="#/detalhes-usuario/{{usuario.id}}">{{usuario.name | name}}</a>
            </td>
            <td>{{usuario.phoneNumber}}</td>
            <td>
                <a href="#/contas-usuario/{{usuario.id}}">Contas</a>
            </td>
        </tr>
    </table>
    <hr />
    <!-- #TODO: passar tipo PJ ou PF -->
    <a class="btn btn-primary" href="#/novo-usuario/pf">Adicionar Pessoa Física</a>
    <a class="btn btn-primary" href="#/novo-usuario/pj">Adicionar Pessoa Jurdica</a>

    <a class="btn btn-danger" href="" ng-click="apagarUsuario(usuarios)" ng-disabled="!isUsuarioSelecionado(usuarios)">
        Apagar contatos
    </a>
</div>