<div class="container">
    <div class="col mt-4 justify-content-center list">
        <!--          {{$ctrl.account}}-->
        <table class="table">
            <thead>
                <h4>Dados da Conta</h4>
                <tr>
                    <th scope="col">Titular da conta</th>
                    <th scope="col">Saldo</th>
                </tr>
                <tbody>
                    <td>{{ $ctrl.account.person.name  | uppercase}}</td>
                    <td>{{ $ctrl.account.balance  | currency:'R$'}}</td>
                </tbody>
                <tr>
                    <th scope="col">Conta</th>
                    <th scope="col">Agência</th>
                    <th scope="col">Tipo</th>
                </tr>
            <tbody>
                <td>{{ $ctrl.account.accountCode }}</td>
                <td>{{ $ctrl.account.branch }}</td>
                <td ng-if="$ctrl.account.accountType == 'CHECKING_ACCOUNT'">Conta Corrente</td>
                <td ng-if="$ctrl.account.accountType == 'SAVINGS_ACCOUNT'">Conta Poupança</td>
            </tbody>

            <tr>
                <th scope="col" ng-if="$ctrl.account.overdraftLimit">Limite de crédito</th>
                <th scope="col" ng-if="$ctrl.account.overdraftAvailable">Limite disponível</th>
                <th scope="col" ng-if="$ctrl.account.interestRate">Taxa de juros</th>
                <th scope="col" ng-if="$ctrl.account.interest">Juros</th>

                
                <th scope="col" ng-if="$ctrl.account.invested">Investido</th>
                <th scope="col" ng-if="$ctrl.account.savingsRate">Taxa de rendimento</th>
                <th scope="col" ng-if="$ctrl.account.savingsIncome">Rendimentos</th>

            </tr>
            <tbody>

                <td ng-if="$ctrl.account.overdraftLimit">{{ $ctrl.account.overdraftLimit | currency:'R$'}}</td>
                <td ng-if="$ctrl.account.overdraftAvailable">{{ $ctrl.account.overdraftAvailable  | currency:'R$'}}</td>
                <td ng-if="$ctrl.account.interestRate">{{ $ctrl.account.interestRate | currency:'R$'}}</td>
                <td ng-if="$ctrl.account.interest">{{ $ctrl.account.interest  | currency:'R$' }}</td>

                
                <td ng-if="$ctrl.account.invested">{{ $ctrl.account.invested | currency:'R$'}}</td>
                <td ng-if="$ctrl.account.savingsRate">{{ $ctrl.account.savingsRate | currency:'R$' }}</td>
                <td ng-if="$ctrl.account.savingsIncome">{{ $ctrl.account.savingsIncome | currency:'R$' }}</td>
            </tbody>

            </thead>
        </table>
        <hr>
    </div>
    <div style="text-align: center; margin-top: 30px ;">
        <a class="btn" ui-sref="app.account.list">Voltar </a>
    </div>

</div>