<div class="container">
    <div class="col mt-4 justify-content-center list">
        <!--          {{$ctrl.account}}-->
        <table class="table">
            <thead>
                <h4>Dados da Conta</h4>
                <tr>
                    <th scope="col">Titular da conta</th>
                    <th scope="col">Saldo</th>
                </tr>
                <tbody>
                    <td>{{ $ctrl.account.person.name }}</td>
                    <td>R$ {{ $ctrl.account.balance }}</td>
                </tbody>
                <tr>
                    <th scope="col">Conta</th>
                    <th scope="col">Agência</th>
                    <th scope="col">Tipo</th>
                </tr>
            <tbody>
                <td>{{ $ctrl.account.accountCode }}</td>
                <td>{{ $ctrl.account.branch }}</td>
                <td ng-if="$ctrl.account.accountType == 'CHECKING_ACCOUNT'">Conta Corrente</td>
                <td ng-if="$ctrl.account.accountType == 'SAVINGS_ACCOUNT'">Conta Poupança</td>
            </tbody>

            <tr>
                <th scope="col" ng-if="$ctrl.account.overdraftLimit">Limite de crédito</th>
                <th scope="col" ng-if="$ctrl.account.overdraftAvailable">Limite disponível</th>
                <th scope="col" ng-if="$ctrl.account.interestRate">Taxa de juros</th>
                <th scope="col" ng-if="$ctrl.account.interest">Juros</th>

                
                <th scope="col" ng-if="$ctrl.account.invested">Investido</th>
                <th scope="col" ng-if="$ctrl.account.savingsRate">Taxa de rendimento</th>
                <th scope="col" ng-if="$ctrl.account.savingsIncome">Rendimentos</th>

            </tr>
            <tbody>

                <td ng-if="$ctrl.account.overdraftLimit">R$ {{ $ctrl.account.overdraftLimit }}</td>
                <td ng-if="$ctrl.account.overdraftAvailable">R$ {{ $ctrl.account.overdraftAvailable }}</td>
                <td ng-if="$ctrl.account.interestRate">R$ {{ $ctrl.account.interestRate }}</td>
                <td ng-if="$ctrl.account.interest">R$ {{ $ctrl.account.interest }}</td>

                
                <td ng-if="$ctrl.account.invested">R$ {{ $ctrl.account.invested }}</td>
                <td ng-if="$ctrl.account.savingsRate">R$ {{ $ctrl.account.savingsRate }}</td>
                <td ng-if="$ctrl.account.savingsIncome">R$ {{ $ctrl.account.savingsIncome }}</td>
            </tbody>

            </thead>
        </table>
        <hr>
    </div>
    <div style="text-align: center; margin-top: 30px ;">
        <a class="btn" ui-sref="app.account.list">Voltar </a>
    </div>

</div>