<div class="container">
  <div class="col mt-4 justify-content-center list">
    <h3 style="margin-left: 50px">Lista de usuários</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <!-- <th scope="col">ID</th> -->
          <th scope="col">Nome</th>
          <th scope="col">Telefone</th>
        </tr>
      </thead>
      <tbody >
<!--         {{$ctrl.users}}-->
        <tr ng-repeat="user in $ctrl.users">
          <th scope="row">{{ $index+1 }}</th>
          <!-- <td>{{ user.id }}</td> -->          
          <!-- #TODO como usar filters?-->
          <td><a ui-sref="app.user.details({id: user.id })">{{ user.name | uppercase}}</a></td>
          <!-- <td><a ui-sref="app.details({id: user.id })">{{ user.name | nameFilter }}</a></td>  -->

           <!-- <td><a ui-sref="app.details({id: user.id })">{{ user.name.filter(NameFilter) }}</a></td>  -->
          <td>{{ user.phoneNumber }}</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <div style="text-align: center; margin-top: 30px ;"> 
      <a class="btn btn-primary" ui-sref="app.user.form({type: 'pf'})" >Adicionar Pessoa Física</a>
      <a class="btn btn-primary" ui-sref="app.user.form({type: 'pj'})" >Adicionar Pessoa Jurdica</a>
    
    </div>
  </div>
  
   <!-- <div class="row justify-content-center">
    <button type="button" class="btn btn-sm btn-secondary float-right" role="button"
     aria-pressed="true" ng-click="$ctrl.addUser()">Acessar</button>
  </div> -->

  <!-- <div class="row justify-content-center">
    <div class="login glow col-12 col-md-4">
      <h5 class="dialog-title">Acesso</h5>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
        </div>
        <input ng-model="$ctrl.credentials.user" type="text" class="form-control" placeholder="Usuário" aria-label="Usuário" aria-describedby="basic-addon1">
      </div>
      
      <button type="button" class="btn btn-sm btn-secondary float-right" role="button" aria-pressed="true" ng-click="$ctrl.login()">Acessar</button>
    </div>
  </div> -->
</div>