.status-row {
  padding-left: 5em;
  padding-right: 5em;
  margin-bottom: 1.5em;

  .status-item {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 5em;
    margin-right: 5em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    display: inline-block;

    .status-title {
      text-align: center;
      font-size: small;
      font-weight: 300;
      text-transform: uppercase;
    }
  
    .status-info {
      text-align: center;
      font-size: x-large;
      font-weight: 900;
      color: #e34040;
    }
  }
}

.container {
  .hor-divider {
    width: 90%;
  }
}